on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

name: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy LICENSE file
        run: cp -p LICENSE mmd_tools/

      - name: Create a zip
        run: zip -r -9 mmd_tools-${GITHUB_REF_NAME}.zip mmd_tools/

      - name: Create a Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: |
            mmd_tools-${{ github.ref_name }}.zip
          draft: true
          generate_release_notes: true
          prerelease: false
